@import "tailwindcss";

.article {
  @apply flex flex-col gap-3 text-lg tracking-wide mb-20 bg-white shadow-md rounded-lg p-8;
}

.article > h1 {
  @apply text-3xl font-bold text-gray-800;
}

.article > h2 {
  @apply text-2xl font-bold text-gray-800;
}

.article > ol {
  @apply list-decimal list-inside flex flex-col gap-3;
}

.article > ul {
  @apply list-disc list-inside flex flex-col gap-3;
}

.article > pre {
  @apply bg-gray-800 text-white p-4 rounded-lg overflow-x-auto;
}

.article > pre > code {
  @apply block;
}

.article > blockquote {
  @apply border-l-4 border-gray-400 pl-4;
}

.article > p > img {
  @apply w-1/2 mx-auto;
}